<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../static/images/PIGEON-modified.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Form</title>
</head>
<body style="margin: 100px;">
  <form action="/final" method="post">
    <div class="form-group">
      <label for="exampleFormControlInput1">Receiver Name</label>
      <input required type="text" class="form-control" name="receiver_name" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input required name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group" id="divMonths">
      <label for="exampleFormControlSelect1">Month</label>
      <select class="form-control" name="month" id="Months" required>
        <option value="" disabled selected hidden>Month</option>
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    </div>
    <div class="form-group" id="divDate29">
      <label for="exampleFormControlSelect2">Date</label>
      <select class="form-control" name="Date29" id="Date29">
        <option value="" disabled selected hidden>Date</option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12 ">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
    </select>
    </div>
    <div class="form-group" id="divDate30">
      <label for="exampleFormControlSelect2">Date</label>
      <select class="form-control" name="Date30" id="Date30">
        <option value="" disabled selected hidden>Date</option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12 ">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
    </select>
    </div>
    <div class="form-group" id="divDate31">
      <label for="exampleFormControlSelect2">Date</label>
      <select class="form-control" name="Date31" id="Date31">
        <option value="" disabled selected hidden>Date</option>
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12 ">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
    </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Text You Want To Wish</label>
      <textarea required class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input style="margin-top:10px; display:block; margin-left:auto; margin-right:auto; " class="btn btn-primary" type="submit" value="Input">
  </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        $(function() {
          $("#divDate29").hide();
          $("#divDate30").hide();
          $("#divDate31").hide();
        
          $("#Months").change(function() {
            if ($(this).val() == "04") {
              $("#divDate30").show();
              $("#divDate29").hide();
              $("#divDate31").hide();
            }else if ($(this).val() == "06") {
              $("#divDate30").show();
              $("#divDate29").hide();
              $("#divDate31").hide();
            }else if ($(this).val() == "09") {
              $("#divDate30").show();
              $("#divDate29").hide();
              $("#divDate31").hide();
            }else if ($(this).val() == "11") {
              $("#divDate30").show();
              $("#divDate29").hide();
              $("#divDate31").hide();
            }else if ($(this).val() == "02") {
              $("#divDate29").show();
              $("#divDate31").hide();
              $("#divDate30").hide();
            }else{
              $("#divDate31").show();
              $("#divDate30").hide();
              $("#divDate29").hide();
            }
          });
        });
        </script>
</body>
</html>